absl-py==1.4.0
aiohttp==3.8.3
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
asciitree==0.3.3
async-timeout==4.0.2
attrs==22.2.0
bokeh==2.4.3
Bottleneck==1.3.6
brotlipy==0.7.0
cachetools==5.3.0
certifi==2024.8.30
cf-xarray==0.7.9
cffi==1.15.1
cftime==1.6.2
charset-normalizer==2.0.4
click==8.1.3
ClimaX==0.3.1
cloudpickle==2.2.1
cmake==3.30.3
contourpy==1.1.1
cryptography==38.0.4
cycler==0.12.1
cytoolz==0.12.0
dask==2023.1.1
distributed==2023.1.1
docstring-parser==0.15
einops==0.6.0
entrypoints==0.4
esmpy==8.4.0
fasteners==0.17.3
filelock==3.9.0
fire==0.5.0
flit_core==3.6.0
fonttools==4.53.1
frozenlist==1.3.3
fsspec==2024.10.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
grpcio==1.52.0
HeapDict==1.0.1
huggingface-hub==0.26.1
idna==3.4
importlib-metadata==6.0.0
importlib_resources==6.4.5
Jinja2==3.1.2
jsonargparse==4.19.0
kiwisolver==1.4.5
lightning-lite==1.8.0
lightning-utilities==0.3.0
lit==18.1.8
llvmlite==0.39.1
locket==1.0.0
lz4==4.2.0
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.3
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mpmath==1.3.0
msgpack==1.0.4
multidict==6.0.4
munkres==1.1.4
netCDF4==1.6.2
networkx==3.1
numba==0.56.4
numcodecs==0.11.0
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
omegaconf==2.3.0
packaging==23.0
pandas==1.5.3
partd==1.3.0
Pillow==9.3.0
pip==22.3.1
polars==1.8.2
pooch==1.6.0
portalocker==2.3.0
properscoring==0.1
protobuf==3.20.3
psutil==5.9.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyfaidx==0.8.1.3
Pygments==2.18.0
pyOpenSSL==22.0.0
pyparsing==3.1.4
PyQt5==5.15.4
PyQt5-sip==12.9.0
PySocks==1.7.1
python-dateutil==2.8.2
pytorch-lightning==1.8.0
pytz==2022.7.1
PyYAML==6.0
regex==2024.9.11
requests==2.28.1
requests-oauthlib==1.3.1
rich==13.8.1
rsa==4.9
safetensors==0.4.5
scipy==1.10.0
setuptools==65.6.3
Shapely==1.8.5.post1
sip==6.5.1
six==1.16.0
sortedcontainers==2.4.0
sparse==0.13.0
sympy==1.13.3
tblib==1.7.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.2.0
timm==0.6.12
tokenizers==0.20.1
toml==0.10.2
toolz==0.12.0
torch==2.4.1
torch-tb-profiler==0.4.3
torchaudio==0.12.1
torchcubicspline==0.0.3
torchdata==0.8.0
torchdiffeq==0.2.4
torchmetrics==0.11.1
torchvision==0.13.1
tornado==6.2
tqdm==4.64.1
transformers==4.46.0
triton==3.0.0
typeshed-client==2.2.0
typing_extensions==4.12.2
unicodedata2==15.1.0
urllib3==1.26.14
Werkzeug==2.2.2
wheel==0.37.1
xarray==2023.1.0
xesmf==0.7.0
yarl==1.8.2
zarr==2.13.6
zict==2.2.0
zipp==3.12.1
